In [1]:
import re
import plotly.graph_objects as go
import plotly.express as px
import dask.dataframe as dd
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
transaction_df = dd.read_csv("../data/transaction.csv")
transaction_df.columns

Index(['item_number', 'date', 'store_number', 'category', 'vendor_number',
       'item_number.1', 'bottles_sold'],
      dtype='object')

In [4]:
transaction_df.head()

,item_number,date,store_number,category,vendor_number,item_number.1,bottles_sold
0,S29198800001,2015-11-20,2191.0,NaN,255.0,297.0,6
1,S29195400002,2015-11-21,2205.0,NaN,255.0,297.0,12
2,S29050300001,2015-11-16,3549.0,NaN,130.0,249.0,2
3,S28867700001,2015-11-04,2513.0,NaN,65.0,237.0,3
4,S29050800001,2015-11-17,3942.0,NaN,130.0,249.0,2